html {
    color: red;
    background-color: #101820FF;
    background-image: url("default.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Not in use */
html[data-theme='light'] {
    --text-color: #ffffff;
    --bg-color: #111111;
}

body {

    font-family: system-ui,
        -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

}

img {
    border-radius: 75px;
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

.center {

    text-align: center;
}

.boxShadow {
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: monospace;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #000000;
    color: rgb(255, 0, 0);
}

.imgGithub {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 25%;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav li {
        flex-basis: 100%;
    }
}